[submodule "lv-server"]
	path = lv-server
	url = https://github.com/Cheyans/lv-server.git
[submodule "lv-client"]
	path = lv-client
	url = https://github.com/Cheyans/lv-client.git
[submodule "lv-proxy"]
	path = lv-proxy
	url = https://github.com/GaqryPWhite/lv-proxy.git
[submodule "lv-db"]
	path = lv-db
	url = https://github.com/Cheyans/lv-db.git
